<div class="row mb-10">
  <div class="checkbox pt-10 pb-10">
    <label>
      {{input type="checkbox" checked=config.pushRemote}}
      {{t "newPipelineStep.stepType.build.pushRemote"}}
    </label>
  </div>
  {{#if config.pushRemote}}
    <label class="acc-label pb-5">{{t "generic.registry"}}{{field-required}}</label>
    {{searchable-select
      class="form-control"
      content=registryChoices
      value=config.registry
    }}
    {{#unless registryChoices.length}}
      <div class="banner bg-warning">
        <div class="banner-icon">
          <i class="icon icon-info"></i>
        </div>
        <div class="banner-message">
          <p>{{t "newPipelineStep.stepType.build.noRegistry" route=linkToRegistry htmlSafe=true}}</p>
        </div>
      </div>
    {{/unless}}
    <div class="row">
      <div class="col span-3">
      <label class='acc-label pb-5'>{{t "newPipelineStep.stepType.build.callbackScript"}}</label>
      {{new-select
        content=scriptsChoices
        optionLabelPath="label"
        optionValuePath="value"
        value=config.callbackScript
      }}
      </div>
      <div class="col span-9">
      <label class='acc-label pb-5'>{{t "newPipelineStep.stepType.build.callbackScriptParams"}}</label>
      {{input
        class="form-control"
        value=config.callbackScriptParams
      }}
      </div>
    </div>
    <div class="checkbox pt-10 pb-10">
      <label>
        {{input type="checkbox" checked=config.deploy}}
        {{t "newPipelineStep.stepType.build.deploy"}}
      </label>
    </div>
    {{#if config.deploy}}
      {{#if (eq loading false)}}
        <div class="row">
          <div class="col span-6">
            {{form-namespace
              editable=isNew
              namespace=namespace
              errors=namespaceErrors
              allowCreate=false
              editing=true
            }}
            <p class="text-info text-small m-0">
              {{t "newPipelineStep.stepType.build.targetNamespace.helpText"}}
            </p>
          </div>
          <div class="col span-6">
            <label class="pb-5 acc-label desc-label" for="input-workload-target">
              {{t "cruHpa.target.label"}}
              {{field-required}}
            </label>
            {{searchable-select
              id="input-workload-target"
              classNames="form-control"
              optionValuePath="id"
              optionLabelPath="displayName"
              prompt="newPipelineStep.stepType.build.workloadId.prompt"
              localizedPrompt=true
              content=workloadsChoices
              value=config.workloadId
              showProTip=false
              editing=editing
              disabled=false
              allowCustom=true
            }}
          </div>
        </div>
        <div class="row">
          <div class="col span-3">
            <label class="acc-label pb-5">
              {{t "newPipelineStep.stepType.build.containerIndex.label"}}
            </label>
            {{input-integer
              min="1"
              max="10"
              step="1"
              class="form-control"
              value=config.containerIndex
              placeholder=(t "newPipelineStep.stepType.build.containerIndex.helpText")
            }}
          </div>
          <div class="col span-6">
            <label class="acc-label pb-5">
              {{t "newPipelineStep.stepType.build.port.label"}}
            </label>
            {{input-integer
              min="1"
              max="65535"
              step="1"
              class="form-control"
              value=config.port
              placeholder=(t "newPipelineStep.stepType.build.port.helpText")
            }}
          </div>
          <div class="col span-3">
            <br/>
            {{input type="checkbox" checked=config.deployService}} {{t "newPipelineStep.stepType.build.deployService.label"}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
